{% load static %}
<!DOCTYPE html>

<meta charset="UTF-8">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href={% static 'css/main.css' %} rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<style>
    * {
        font-family: 'Jua', sans-serif;
    }
</style>

<body>
<div class="header">
    <button style="background-color: transparent; border: None;" class="btn btn-primary" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <img style="width: 150px; height: 80px; margin: auto; margin-top: 10px"
             src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
             class="logo">
    </button>

    <div style="width: 250px; " class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
         aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><span style="font-size: 20px;">유저 정보</span></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div style="background-color: black;" class="offcanvas-body">
            <div>
                <img style="width: 150px; height: 80px; margin: auto; margin-top: 10px; margin-bottom: 30px"
                     src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
                     class="logo">
                <a class="nav-link" style="color: white; margin-bottom: 30px"
                   href={% url 'my-page' %}> {{ user.nickname }} <span style="font-size: small">님 반갑습니다!<br>마이페이지</span></a>
                <button style="width: 150px; height: 40px; background-color: gray; border-radius: 5px; margin: auto; display: flex; align-items: center; justify-content: center;"
                        class="nav-link"><a href={% url 'logout' %}><span
                        style="font-size: 15px; color: white;">로그아웃</span></a></button>
            </div>
        </div>
    </div>
</div>
<div id="container-wrap">
    <div class="container-header">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div style="width: 250px;" class="carousel-item active">
                    <img src="https://enewstoday.co.kr/news/photo/202002/1369655_431887_5647.jpg" class="d-block w-100"
                         alt="...">
                </div>
                {% for imgs in games %}
                    <div style="width: 250px;" class="carousel-item">
                        <img src="{{ imgs.image }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                <div class="carousel-item">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {#      <img src="https://enewstoday.co.kr/news/photo/202002/1369655_431887_5647.jpg">#}
                {#      <img src="https://img.gta5-mods.com/q95/images/save-game-44/a82937-v_trunk_1920x1080.jpg">#}
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div style="width: 250px;" class="carousel-item active">
                    <img src="https://enewstoday.co.kr/news/photo/202002/1369655_431887_5647.jpg" class="d-block w-100"
                         alt="...">
                </div>
                {% for imgs in games %}
                    <div style="width: 250px;" class="carousel-item">
                        <img src="{{ imgs.image }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                <div class="carousel-item">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {#      <img src="https://enewstoday.co.kr/news/photo/202002/1369655_431887_5647.jpg">#}
                {#      <img src="https://img.gta5-mods.com/q95/images/save-game-44/a82937-v_trunk_1920x1080.jpg">#}
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="container-body-wrap">
            <div class="other-users"><p style="font-size: 50px; color: white"> {{ user.nickname }} </p></div>
            <div class="recommend-games">
                <div class="rec-list">
                    {% for i in rec %}
                        <div class="rec-box">{{ i }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style='height: 300px' class="container-body-wrap">
            {% for sim in sim_user_game %}
                <div style='height: 280px' class="other-users"><p style="font-size: 10px; color: white"><span
                        style="font-size: x-large;">나와 비슷한 유저들<br></span> {{ sim.sim_user }} </p></div>
                <div style='height: 280px' class="recommend-games">

                {% for te, de in game_zip %}
                    <div class="rec-list">

                        <div class="rec-box2"><br>
                            <span style="font-size: x-large;">User_ID : {{ de }}</span>
                            <p style="font-size: 5px;">{{ te }}</p></div>
                        <br>

                    </div>

                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container-footer">
        <ul class='footer-ul'>
            <div class='tmt'>
                {% for game in games %}
                    <div style="border: none" class="card mb-3 ">
                        <div style="height: 80px" class="row g-0 dcbox">
                            <div class="col-md-3 gameimg">
                                <a href="{{ game.url }}" target="_blank"><img style="width: 180px; height: 60px"
                                                              src={{ game.image }} class="img-fluid
                                                              rounded-start" alt="..."></a>
                            </div>
                            <div class="col-md-9">
                                <div style="display: flex" class="card-body">
                                    <div style="width: 70%; margin-top: 10px; "><h5 class="card-title"><b><a
                                            style="color: white; text-decoration: none"
                                            href="{{ game.url }}" target="_blank">{{ game.title }}</a></b></h5></div>
                                    <div style="width: 40%; margin-top: 10px; padding-left: 10px"><p
                                            class="card-text">할인율 : <b>{{ game.discount_per }}</b></p></div>
                                    <div style="width: 30%">
                                        <p style="text-decoration: line-through; font-size: small;"
                                           class="card-text">{{ game.original_price }}원</p>
                                        <p style="" class="card-text">{{ game.discount_price }}원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </ul>
    </div>
</div>
</div>
</div>

</body>

</html>
