{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body class="pw-reset-bk">
    <div class="pw-reset-wrapper">
        <form class="email-auth-form" method="post" action="{% url 'password_reset' %}">
            <h4>링크를 보냈습니다. 메일 확인하세요.</h4>
            <div style="background-image: url('../static/img/smile.png');
            background-size: contain; background-repeat: no-repeat;
            background-position: center; width: 100%; height: 100%"></div>
        </form>
    </div>
</body>

{% endblock %}