{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">

    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

    <!-- 웹사이트 대표 이미지 임시 설정(favicon 에러 방지) -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body class="pw-reset-bk">
    <div class="pw-reset-wrapper">
        <form class="email-auth-form" method="post" action="{% url 'password_reset' %}">
            <h4>비밀번호 초기화를 시작합니다.<br>회원님의 이메일을 입력하세요.</h4>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="get-link-btn" type="submit">초기화 링크 받기</button>
        </form>
    </div>
</body>

{% endblock %}