{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">

    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">

    <!-- 웹사이트 대표 이미지 임시 설정(favicon 에러 방지) -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body class="pw-reset-cp-bk">
    <div class="pw-reset-cp-wrapper">
        <div class="pw-reset-cp-announce">
            <h3>새 비밀번호로 설정했습니다.</h3>
            <a href="{% url 'sign-in' %}">로그인 하러 가기</a>
        </div>
    </div>
</body>

{% endblock %}