{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">

    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">

    <!-- 웹사이트 대표 이미지 임시 설정(favicon 에러 방지) -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body class="pw-reset-cf-bk">
    <div class="pw-reset-cf-wrapper">
        <form class="pw-reset-form" method="post" action="">
            <h4>새 비밀번호를 설정해 주세요.</h4>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="pw-reset-btn" type="submit">설정 완료</button>
        </form>
    </div>
</body>

{% endblock %}