{% load static %}
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/survey.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- spin js 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
    <script>

        /*
    	[JS 요약 설명]
    	1. window.onload : 브라우저 로드 완료 상태를 나타냅니다
    	2. spin js : 브라우저 내에서 로딩 스핀 상태를 나타낼 수 있습니다
    	3. 로직 : 사용자 통신 요청 시 >> spinnerStart 호출 >> 리턴 응답 받을 시 >> spinnerStop 호출
    	4. 옵션 참고 공식 사이트 : https://spin.js.org/
    	*/



        /* [html 최초 로드 및 이벤트 상시 대기 실시] */
        window.onload = function () {
            console.log("");
            console.log("[window onload] : [start]");
            console.log("");

            // 로딩 스피너 호출
            //spinnerStart();

            /* setTimeout 호출 : 일정 시간 후 실행 : [함수호출] 일회용 */
            //setTimeout(spinnerStop, 3000); //5초후에 spinnerStop() 함수 호출
        };


        /* [spinnerStart 시작 이벤트 호출] */
        function spinnerStart() {
            console.log("");
            console.log("[spinnerStart] : " + "[start]");
            console.log("");

            // [로딩 부모 컨테이너 동적 생성]
            var createLayDiv = document.createElement("div");
            createLayDiv.setAttribute("id", "spinnerLay1000");
            var createLayDivStyle = "width:100%; height:100%; margin:0 auto; padding:0; border:none;";
            createLayDivStyle = createLayDivStyle + " float:top; position:fixed; top:0%; z-index:100000;";
            createLayDivStyle = createLayDivStyle + " background-color:rgba(0, 0, 0, 0.8);"; // 불투명도 설정 >> 자식에게 적용 안됨
            createLayDiv.setAttribute("style", createLayDivStyle);
            document.body.appendChild(createLayDiv); //body에 추가 실시


            // [실제 스핀 수행 컨테이너 동적 생성]
            var createSpinDiv = document.createElement("div");
            createSpinDiv.setAttribute("id", "spinnerContainer1000");
            var createSpinDivStyle = "width:100px; height:100px; margin:0 auto; padding:0; border:none;"; // 스핀 컨테이너 크기 조절
            createSpinDivStyle = createSpinDivStyle + " float:top; position:relative; top:40%;";
            //createSpinDivStyle = createSpinDivStyle + " background-color:#ff0000;";
            createSpinDiv.setAttribute("style", createSpinDivStyle);
            document.getElementById("spinnerLay1000").appendChild(createSpinDiv); //spinnerLay에 추가 실시


            // [스핀 옵션 지정 실시]
            var opts = {
                {#lines: 20, // 그릴 선의 수 [20=원형 / 10=막대] [The number of lines to draw]#}
                {#length: 80, // 각 줄의 길이 [0=원형 / 10=막대] [The length of each line]#}
                {#width: 14, // 선 두께 [The line thickness]#}
                {#radius: 84, // 내부 원의 반지름 [The radius of the inner circle]#}
                {#scale: 1, // 스피너의 전체 크기 지정 [Scales overall size of the spinner]#}
                {#corners: 1, // 모서리 라운드 [Corner roundness (0..1)]#}
                {#animation: 'spinner-line-fade-more',#}
                {#color: '#d50000', // 로딩 CSS 색상 [CSS color or array of colors]#}
                {#fadeColor: 'transparent', // 로딩 CSS 색상 [CSS color or array of colors]#}
                {#opacity: 0.05, // 선 불투명도 [Opacity of the lines]#}
                {#rotate: 0, // 회전 오프셋 각도 [The rotation offset]#}
                {#direction: 1, // 회전 방향 시계 방향, 반시계 방향 [1: clockwise, -1: counterclockwise]#}
                {#speed: 1, // 회전 속도 [Rounds per second]#}
                {#trail: 74, // 꼬리 잔광 비율 [Afterglow percentage]#}
                {#fps: 20, // 초당 프레임 수 [Frames per second when using setTimeout() as a fallback in IE 9]#}
                {#zIndex: 2e9, // 인덱스 설정 [The z-index (defaults to 2000000000)]#}
                {#position: 'absolute'#}
                lines: 20, // The number of lines to draw
                length: 80, // The length of each line
                width: 14, // The line thickness
                radius: 84, // The radius of the inner circle
                scale: 1, // Scales overall size of the spinner
                corners: 0, // Corner roundness (0..1)
                speed: 0.5, // Rounds per second
                rotate: 0, // The rotation offset
                animation: 'spinner-line-fade-more', // The CSS animation name for the lines
                direction: 1, // 1: clockwise, -1: counterclockwise
                color: '#fa0000', // CSS color or array of colors
                fadeColor: 'transparent', // CSS color or array of colors
                shadow: '1 210px transparent', // Box-shadow for the lines
                zIndex: 2000000000, // The z-index (defaults to 2e9)
                className: 'spinner', // The CSS class to assign to the spinner
                position: 'absolute' // Element positioning
            };


            // [스피너 매핑 및 실행 시작]
            var target = document.getElementById("spinnerContainer1000");
            var spinner = new Spinner(opts).spin(target);
        };


        /* [spinnerStop 중지 이벤트 호출] */
        function spinnerStop() {
            console.log("");
            console.log("[spinnerStop] : " + "[start]");
            console.log("");
            try {
                // [로딩 부모 컨테이너 삭제 실시]
                var tagId = document.getElementById("spinnerLay1000");
                document.body.removeChild(tagId); //body에서 삭제 실시
            } catch (exception) {
                // console.error("catch : " + "not find spinnerLay1000");
            }

        };


//----------------------------------------------------------------------------------------------------------------------
        var toggle_state = true;
        var games = '';

        function search(target) {
            var word = target.value;
            console.log(word)
            //ajax 장고의 경우 request의 body에 객체를 담아서 보낸다
            $.ajax({
                type: 'POST',
                data: {'search': word},
                dataType: 'json',
                url: {% url 'my-page' %},
                error: function (err) {
                    console.log("실행중 오류가 발생하였습니다.");
                },
                success: function (data) {
                    console.log("data확인 : " + data);
                    console.log(data.game);
                    $("#games").empty();
                    for (i = 0; i < data.game.length; i++) {
                        $("#games").append(`<div class="form-check">
                            <input class="form-check-input" type="radio" name="game_list" class="game_list" id="flexRadioDefault${i}" value="${data.game[i]['game']}">
                            <label class="form-check-label" for="flexRadioDefault${i}"> ${data.game[i]['game']}
                            </label>
                            </div>`);
                    }
                }
            });
            //end Ajax
        }


        $(document).on('click', "#send_data", function () {
            games = $('input[name="game_list"]:checked').val();
            if (toggle_state && games != null) {
                //console.log(games);
                $("#games").empty();
                $("#games").append(`<div class="col-auto">
                                        <input type="text" readonly class="form-control-plaintext" id="game_title" value="${games}">
                                  </div>
                                  <div class="col-auto">
                                        <label for="inputPassword2" class="visually-hidden">Password</label>
                                        <input type="number" class="form-control" id="play_time" placeholder="플레이 한 시간 ex) 8">
                                  </div>`);
                toggle_state = false;
            } else {
                games = $('#game_title').val();
                if (games != null) {
                    let play_time = $('#play_time').val();
                    console.log(play_time);
                    $.ajax({
                        type: 'POST',
                        data: {'game_name': games, 'play_time': play_time},
                        dataType: 'json',
                        url: {% url 'addrecommend' %},
                        beforeSend: function () {
                            spinnerStart();
                        },
                        error: function (err) {
                            console.log("실행중 오류가 발생하였습니다.");
                            alert("실행중 오류가 발생하였습니다.")
                            spinnerStop()
                        },
                        success: function (data) {
                            console.log("data확인 : " + data['msg']);
                            location.href="/main/";
                        }
                    });
                    console.log(games);
                    console.log('뭔가 있음')
                } else {
                    toggle_state = true;
                    $("#games").empty();
                    console.log(games);
                    console.log(toggle_state);
                    console.log('아무것도');
                }

            }

        })
    </script>
</head>
<body>
<div id="main">
    <div id="container">
        <h1>선호도 조사 - Staem Game </h1>
        <fieldset name="score" style="padding: 20px;">
            <legend> 플레이한 게임과 플레이타임을 입력해주세요.</legend>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="플레이한 게임 검색"
                       aria-label="" aria-describedby="button-addon2" onkeyup="search(this)">
                <button class="btn btn-outline-secondary" id="button-addon2" onclick="search()">검색
                </button>
            </div>
            <div id=games>

            </div>
            <div class="col-md-12" >
                <button type="button" class="btn btn-primary col-md-12" id="send_data">
                    제출하기
                </button>
            </div>
        </fieldset>
        <br>

    </div>
</div>
</body>
