.pw-reset-cp-bk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 90vh;
    margin: auto;

    position: relative;
    z-index: 100;

    background-image: url('../img/pw_reset_cp_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pw-reset-cp-bk::before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0.7;
    background-color: #000;

    content: '';
}

.pw-reset-cp-wrapper {
    margin: auto;

    display: flex;

    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 300px;

    z-index: 200;
}

.pw-reset-cp-announce {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
}

a {
    font-weight: bold;
    color: salmon;
}